#what .items{
    display: block;
    padding: 1rem;
}

/* Align Icon to Left */
#what .items .item{
    display: flex;
    align-items: left;
}

/* Position Icon */
#what .items .item i{
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* smartphones */
@media(max-width: 500px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo{
        margin-bottom: .5rem;
        text-align: center;
    }

    #navbar ul{
        padding: .5rem;
    }

    #showcase .showcase-content{
        top:110px;
    }

    #who{
        display: block;
    }

    #who .who-img{
        display: none;
    }

    #clients .items img{
        width: 80%;
    }

    #clients .items div:last-child{
        display: none;
    }

    #contact{
        flex-direction: column;
        height: 100vh;
    }

    #contact .map{
        height: 50%;
        border-top: 4px solid #333;
    }
}

@media(max-height: 568px){
   #showcase .showcase-content{
    margin-top: -2rem;
    top: 140px;
   }
   
    .l-heading{
        font-size: 3rem;;
    }

    .lead{
        font-size: 1rem;
    }
}